.scannerwork/
node_modules/
npm-debug.log
config/
logs/
test/
docs/
*.md
*.config.js
.git*
.DS_Store
docker-compose.yaml
Dockerfile
.gitbook.yaml
*.log
project-tree.txt
tools/
.gitignore
.vscode/
.env*
```
